table {
    border: 3px solid silver;
}
td:hover {
    background-color: purple;
    color:blue;
}
tr,th {
    background-color: black;
    color:aquamarine;
}
tr,td {
    background-color: darkgreen;
    color:lightgreen;
}